<h1>Redacts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @redacts.each do |redact| %>
      <tr>
        <td><%= redact.code_name %></td>
        <td>
          <%= link_to 'Edit', edit_redact_path(redact), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', redact_path(redact), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_redact_path, :class => 'btn btn-primary' %>
