/* @group Debug */


/*.container{
	background-image: url(blueprint/src/grid.png);
}*/



/* @end */


/* @group Global */

body {
	margin:0;
	background-color: #e8e8e8;
}

.right {
	float: right;
	display:block;
}

/* @end */


/* @group Links */

.container a, .container a:link, .container a:visited {
	color: #02a9cd;	
	text-decoration: underline;
}

.container a:hover {
	color: #02a9cd;
	text-decoration: none;	
}

#header a, #header a:link, #header a:visited  {
	color: #fff;	
	text-decoration: underline;
}

#header a:hover  {
	color: #fff;	
	text-decoration: none;
}

.footer a, .footer a:link, .footer a:visited {
	color: #999;	
	text-decoration: underline;
}

.footer a:hover {
	color: #999;
	text-decoration: none;	
}



/* @end */



/* @group Typography */

body {
	color: white;
	font: 12px "Lucida Grande", Lucida, Arial, sans-serif;
	line-height: 150%;
	}

h1 {
	font-size: 22px;
	color: #ffffff;
	margin-bottom: 30px;
	line-height: 150%;
}

#header h1 {
	display: inline;
	padding-right: 5px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 200%;
	color: #000;
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 200%;
	color: #000;	
}


.footer {
	font-size: 10px;
}


/* @end */



/* @group Layout */

#header {
	background-color: #02a9cd;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.welcome {
	text-align: right;
}

.main {
	background-color: #fff;
	color: #000;
	padding-top: 25px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dadada;
}



.paging {
	text-align: center;
}

.footer {
	color: #999;
}

.savemsg {
	border-bottom-style: ;
	display: none;
	padding:5px;
	margin-bottom: 20px;
}

.sucess {
	background-color: green;
	border: none;
	color: #fff;
}

.error{
	background-color: red;
	border: none;
	color: #fff;
}


/* @end */

/* @group Tables */



table {
	border-collapse: collapse;
	width: 100%;	
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 11px;
}

th {
	background: #222525;
	color: #fff;		
	font-weight: bold;
	padding: 5px;
}

td {
	border-bottom: 1px solid #DADADA;
	padding: 5px;
	vertical-align: top;
}

td * {
	
}

tr.alt td {
	background: #fff;
}

tr.over td {
	background: #f7f7f7;
}

.tblcol-1 {
	width: 90% !important;	
}

.tblcol-2 {
	width: 10% !important;
}

.tblcol-3 {
	width: 85% !important;	
}

.tblcol-4 {
	width: 15% !important;
}


/* @end */

/* @group Modules */

label {
	margin-bottom: 5px;
}

input.field {
	width: 300px;
	margin-bottom: 10px;
}

.actions {
	margin-top: 20px;
}


/* @end */


#redact_items {
  list-style-type: none;
  margin: 0;
}


